[default]
mqtt_server = mqtt.lan.london.hackspace.org.uk
acserver = https://acserver.lan.london.hackspace.org.uk
acserver_api_secret = <secret>
mqtt_topic = /door/#
boards = 1f-board

[irc]
topic = #london-hack-space-bots
summary_topic = #london-hack-space
irccat = chomsky.lan.london.hackspace.org.uk
irccat_port = 12345

[1f-board]
host = wilson.lan.london.hackspace.org.uk
port = 8020
restoreafter = 30

[holonyak]
host = holonyak.lan.london.hackspace.org.uk
port = 8021
restoreafter = 30

[lastseen]
picklefile = lastseen.pickle

[gf-back]
name = the Hackspace Back Door
announce = true

[gf-front-inner]
name = the Hackspace Workshops Door
announce = true

[gf-front-external]
name = the Building's Front Door
announce = true

[1f-electronics-lab]
name = the former Hackspace 1st Floor Door
announce = false

[gf-funk]
name = the Radio Lair Door
announce = false

[gf-biolab]
name = the Biolab Door
announce = false

[gf-toolstore]
name = the Toolstore Door
announce = false

[gf-backgate]
name = the Back Gate
announce = false

[ola]
server = http://ola:9090
length = 5
bell_colour = 255,255,255
deny_colour = 255,0,0